/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 32, ../sass/screen.scss */
.launch a:link {
  color: #fefefe;
  font-size: 1.125em;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #fefefe;
}

/* line 38, ../sass/screen.scss */
.launch a:visited {
  color: #fefefe;
}

/* line 39, ../sass/screen.scss */
.launch a:hover {
  color: #fefefe;
}

/* line 40, ../sass/screen.scss */
.launch a:active {
  color: #fefefe;
}

/* line 42, ../sass/screen.scss */
.nav a:link {
  color: #4e4e4e;
  font-size: 0.750em;
  font-weight: 600;
  text-decoration: none;
  padding-left: 12px;
}

/* line 48, ../sass/screen.scss */
.nav a:visited {
  color: #4e4e4e;
}

/* line 49, ../sass/screen.scss */
.nav a:hover {
  color: #4e4e4e;
}

/* line 50, ../sass/screen.scss */
.nav a:active {
  color: #4e4e4e;
}

/* line 52, ../sass/screen.scss */
body {
  font: 100% "proxima-nova", sans-serif;
  color: #efefef;
  text-align: left;
  background-color: #ECF0F1;
}

/* line 58, ../sass/screen.scss */
.containerHeader {
  padding: 38px 0 24px 0;
  text-align: center;
  margin: auto;
}
@media (min-width: 700px) {
  /* line 58, ../sass/screen.scss */
  .containerHeader {
    padding: 38px 0 38px 20%;
    text-align: left;
    display: inline-block;
  }
}

/* line 69, ../sass/screen.scss */
.containerLinks {
  padding: 0 0 38px 20%;
  text-align: center;
}
@media (min-width: 700px) {
  /* line 69, ../sass/screen.scss */
  .containerLinks {
    padding: 38px 0 38px 36%;
    text-align: left;
    display: inline-block;
  }
}

/* line 79, ../sass/screen.scss */
.containerAbout {
  padding: 38px 0 38px 20%;
  text-align: left;
  width: 60%;
}
@media (min-width: 700px) {
  /* line 79, ../sass/screen.scss */
  .containerAbout {
    padding: 78px 0 78px 20%;
  }
}

/* line 88, ../sass/screen.scss */
.containerTarget {
  background-image: url("../images/projects/target.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 500px rgba(0, 0, 0, 0.76) inset;
  transition: 1s ease;
  width: 100%;
}

/* line 97, ../sass/screen.scss */
.containerTarget:hover {
  background-image: url("../images/projects/target.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 500px rgba(0, 0, 0, 0.66) inset;
  transition: 1s ease;
  width: 100%;
}

/* line 106, ../sass/screen.scss */
.containerSkylanders {
  background-image: url("../images/projects/skylanders.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 500px rgba(0, 0, 0, 0.76) inset;
  transition: 1s ease;
  width: 100%;
}

/* line 115, ../sass/screen.scss */
.containerSkylanders:hover {
  background-image: url("../images/projects/skylanders.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 500px rgba(0, 0, 0, 0.66) inset;
  transition: 1s ease;
  width: 100%;
}

/* line 124, ../sass/screen.scss */
.containerInfo {
  padding: 38px 0 38px 20%;
  max-width: 740px;
  text-align: left;
  width: 60%;
}
@media (min-width: 700px) {
  /* line 124, ../sass/screen.scss */
  .containerInfo {
    padding: 78px 0 78px 20%;
  }
}

/* line 133, ../sass/screen.scss */
.header {
  position: fixed;
  border-bottom: 1px solid #BCBFC0;
  width: 100%;
  background-color: #ECF0F1;
}

/* line 139, ../sass/screen.scss */
.h1 {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4;
  text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.7);
}
@media (min-width: 700px) {
  /* line 139, ../sass/screen.scss */
  .h1 {
    font-size: 2em;
  }
}

/* line 149, ../sass/screen.scss */
.h1 span {
  color: #4e4e4e;
  text-shadow: none;
}

/* line 153, ../sass/screen.scss */
.h2 {
  font-size: 1.425em;
  font-weight: 600;
  color: #4e4e4e;
}

/* line 158, ../sass/screen.scss */
li.links {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}
@media (min-width: 700px) {
  /* line 158, ../sass/screen.scss */
  li.links {
    font-size: 1.2em;
    margin-bottom: 16px;
  }
}

/* line 168, ../sass/screen.scss */
li.links:last-child {
  margin-right: 0;
}

/* line 173, ../sass/screen.scss */
.linkwrapper strong {
  display: inline-block;
  width: 4.8em;
  padding: 0 .8em 0 0;
  text-align: left;
}

/* line 180, ../sass/screen.scss */
.p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.7em;
  padding-top: 12px;
  padding-bottom: 48px;
  text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.7);
}
@media (min-width: 700px) {
  /* line 180, ../sass/screen.scss */
  .p {
    font-size: 1.125em;
  }
}

/* line 192, ../sass/screen.scss */
.push {
  padding-bottom: 80px;
}

/* line 195, ../sass/screen.scss */
.sitewrapper {
  margin: auto;
}
